---
import Section from "./Section.astro";
import Button from "./Button.astro";
import { projects } from "data";
import { externalLink, gitHubFilled } from "data/svgs";
---

<Section id="projects" title="Proyectos" number="03">
    <article class="grid gap-12 lg:grid-cols-2 2xl:grid-cols-3">
        {
            projects.map(({ title, url, repository, description, technologies }) => (
                <div class="flex max-w-sm flex-col justify-between rounded bg-slate-700 p-7 sm:aspect-square">
                    <div class="flex flex-col gap-4">
                        <div class="flex justify-between">
                            <h3 class="text-2xl font-semibold text-slate-300">{title}</h3>

                            <div class="flex h-6 gap-2">
                                {[
                                    {
                                        ariaLabel: `Enlace a ${title}`,
                                        href: url,
                                        svg: externalLink,
                                    },
                                    {
                                        ariaLabel: `Enlace al repositorio de ${title}`,
                                        href: repository,
                                        svg: gitHubFilled,
                                    },
                                ].map(({ ariaLabel, href, svg }) => (
                                    <a
                                        aria-label={ariaLabel}
                                        href={href}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="aspect-square h-full hover:[&>svg]:fill-sky-400"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox={svg.viewBox}
                                            class="fill-slate-300 transition-colors duration-300"
                                        >
                                            <path d={svg.path} />
                                        </svg>
                                    </a>
                                ))}
                            </div>
                        </div>

                        <p class="text-slate-300">{description}</p>

                        <div class="flex flex-wrap justify-between gap-3">
                            {technologies.map(technology => (
                                <p class="font-sfmono rounded-sm bg-slate-600/75 px-2 py-1.5 text-xs font-semibold text-slate-300">
                                    {technology}
                                </p>
                            ))}
                        </div>
                    </div>

                    <Button
                        title="¡Lee más sobre éste proyecto en GitHub!"
                        href={`${repository}#readme`}
                        classes="mt-16 sm:mt-0"
                    >
                        Leer Más
                    </Button>
                </div>
            ))
        }
    </article>
</Section>
