---
import Section from "./Section.astro";
import Button from "./Button.astro";
import { projects } from "data";
---

<Section id="projects" title="Proyectos" number="03">
    <article class="mx-auto mt-2 grid gap-12 lg:grid-cols-2 xl:gap-16 2xl:grid-cols-3">
        {
            projects.map(({ title, anchors, description, technologies }) => (
                <div class="hover:drop-shadow-white flex max-w-sm flex-col justify-between rounded bg-slate-700 p-7 transition-all duration-300 md:aspect-square">
                    <div class="flex flex-col gap-4">
                        <header class="flex justify-between">
                            <h3 class="text-2xl font-semibold text-slate-300">{title}</h3>

                            <div class="flex h-6 gap-2">
                                {anchors.map(({ ariaLabel, title, href, svg }) => (
                                    <a
                                        aria-label={ariaLabel}
                                        title={title}
                                        href={href}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="aspect-square h-full hover:[&>svg]:fill-sky-400"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox={svg.viewBox}
                                            class="fill-slate-300 transition-colors duration-300"
                                        >
                                            <path d={svg.path} />
                                        </svg>
                                    </a>
                                ))}
                            </div>
                        </header>

                        <p class="text-slate-300">{description}</p>

                        <div class="flex flex-wrap justify-between gap-3">
                            {technologies.map(technology => (
                                <p class="font-sfmono rounded-sm bg-slate-600/75 px-2 py-1.5 text-xs font-semibold text-slate-300">
                                    {technology}
                                </p>
                            ))}
                        </div>
                    </div>

                    <Button
                        title="¡Lee más sobre éste proyecto en GitHub!"
                        href={`${
                            anchors.find(({ href }) => href.includes("github.com")).href
                        }#readme`}
                        classes="mt-16 md:mt-0"
                    >
                        Leer Más
                    </Button>
                </div>
            ))
        }
    </article>
</Section>
