---
import Section from "./Section.astro";
import { skills } from "data";
---

<Section id="skills" title="Habilidades" number="02">
    <article class="mx-auto flex w-full max-w-lg flex-col gap-2 sm:max-w-xl xl:max-w-2xl">
        <div class="relative">
            <div class="flex border-b-2 border-primary text-lg font-medium">
                {
                    skills.map(({ name }, i) => (
                        <button
                            data-skill={name}
                            data-skill-index={i}
                            class="flex-1 pb-3 pt-4 md:pt-5 md:pb-4"
                        >
                            {name}
                        </button>
                    ))
                }
            </div>

            <div
                data-skills-bar
                class="absolute bottom-0 h-[2px] bg-secondary transition-transform"
            >
            </div>
        </div>

        {
            skills.map(({ name, technologies }) => (
                <div data-skill-container={name} class="grid grid-cols-3">
                    {technologies.map(({ name, svg, hover }) => (
                        <button class="group flex flex-col items-center gap-3 py-6">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox={svg.viewBox}
                                class={`${hover.fill} group-hover:drop-shadow-white w-8 transition-all duration-300`}
                            >
                                <path d={svg.path} />
                            </svg>

                            <p
                                class={`font-sfmono text-center text-xs font-semibold transition-all duration-300 group-hover:[text-shadow:0px_0px_10px_#ffffff50] ${hover.text}`}
                            >
                                {name}
                            </p>
                        </button>
                    ))}
                </div>
            ))
        }
    </article>
</Section>

<script type="module">
    const $skills = [...document.querySelectorAll("[data-skill]")];
    const $skillsBar = document.querySelector("[data-skills-bar]");
    const $skillContainers = document.querySelectorAll("[data-skill-container]");
    const activeClasses = ["text-secondary"];
    const inactiveClasses = ["hover:text-secondary"];

    function handleSkillsBar($skill) {
        const skillWidth = $skill.getBoundingClientRect().width;
        const skillIndex = $skill.getAttribute("data-skill-index");

        $skillsBar.style.width = `${skillWidth}px`;
        $skillsBar.style.transform = `translateX(${skillWidth * skillIndex}px)`;
    }

    function toggleActiveSkill($skill) {
        const dataSkill = $skill.getAttribute("data-skill");

        $skills.forEach($s => {
            const isCurrentSkill = $s.getAttribute("data-skill") === dataSkill;

            $s.classList.remove(...(isCurrentSkill ? inactiveClasses : activeClasses));
            $s.classList.add(...(isCurrentSkill ? activeClasses : inactiveClasses));

            $s.dataset.activeSkill = isCurrentSkill;
        });

        $skillContainers.forEach($sc => {
            const isCurrentSkillContainer = $sc.getAttribute("data-skill-container") === dataSkill;

            if (isCurrentSkillContainer) {
                $sc.classList.remove("hidden");
            } else {
                $sc.classList.add("hidden");
            }
        });

        handleSkillsBar($skill);
    }

    toggleActiveSkill($skills[0]); // Set the first skill as active by default.

    $skills.forEach($skill => $skill.addEventListener("click", e => toggleActiveSkill(e.target)));

    // When the window resizes, we need to update the $skillsBar width and translateX
    window.addEventListener("resize", () => {
        const $activeSkill = $skills.find($s => $s.getAttribute("data-active-skill") === "true");

        handleSkillsBar($activeSkill);
    });
</script>
